replicaCount: 3
image:
  repository: celrix/celrix
  tag: "latest"
persistence:
  enabled: true
  size: 10Gi
resources:
  requests:
    memory: "512Mi"
    cpu: "500m"
  limits:
    memory: "2Gi"
    cpu: "2000m"
